<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<header>
	<ul class="header1">
		<li><img src="https://www.tesla.com/tesla_theme/assets/img/logo.svg?1" width='100px'></li>
		<li><a href="">MODEL S<a></li>
		<li><a href="">MODEL X</a></li>
		<li><a href="">MODEL 3</a></li>
		<li><a href="">CHARGING</a></li>
		<li><a href="">ENERGY</a></li>
	</ul>

	<ul class="header2">
		<li><a href="">UPDATED</a></li>
		<li><a href="">SUPPORT</a></li>
		<li><a href="">FIND US</a></li>
		<li><a href="">SHOP</a></li>
		<li><a href="">MY TESLA</a></li>
	</ul>
</header>

<div class="middivs">
	<div class="middle">
		<h1 class="pev">Premium Electric Vehicles</h1>
	</div>

	<div class="middle">
		<a href="" id="learn">Learn about the Software 8.0 update</a>
	</div>
	<div class="middle">
		<button class="buttons">ORDER YOURS</button>
		<button class="buttons">NEW INVENTORY</button>
		<button class="buttons">TEST DRIVE</button>
	</div>
</div>
<footer class="foo">
	<ul class="foot">
		<li><a href="">Tesla Motors&#169; 2016</a></li>
		<li>&middot;</li>
		<li><a href="">Privacy & Legal</a></li>
		<li>&middot;</li>
		<li><a href="">Contact</a></li>
		<li>&middot;</li>
		<li><a href="">Careers</a></li>
		<li>&middot;</li>
		<li><a href="">Forums</a></li>
		<li>&middot;</li>
		<li><a href="">Locations</a></li>
		<li>&middot;</li>
		<li><img src="https://www.tesla.com/tesla_theme/assets/img/flags/svg/flag-us.svg" width='15px'></li>
	</ul>
</footer>